@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,200;0,500;0,800;1,200;1,500;1,800&display=swap');
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

:root {
	--padding: 1em;
}

* {
	color: white;
	font-family: 'Jost', sans-serif;
}

a {
	color: #1DA1F2;
}

body {
	margin: 0;
	padding: 0;
}

main {
	height: 100vh;
	overflow-y: scroll;
	scroll-snap-type: y mandatory;
}

section {
	background-position: center center;
	background-size: cover;
	height: 100vh;
	scroll-snap-align: start;
	width: 100vw;
}

section figure img {
	/*box-shadow: 0 19px 38px rgba(0,0,0,0.15), 0 15px 12px rgba(0,0,0,0.11);*/
	height: 100%;
	object-fit: contain;
	width: 100%;
}

button {
	background: transparent;
	border: none;
	padding: 0;
	margin: 0 4px;
}

.post-container {
	align-items: center;
	backdrop-filter: brightness(0.5) blur(32px);
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100vh;
	overflow: hidden;
	padding: 5vh 5vw;
	width: 100vw;
}

.post-container img {
	max-height: 60vh;
	max-width: 90vw;
}

.post-title-bar {
	align-items: center;
	box-sizing: border-box;
	display: flex;
	padding-bottom: var(--padding);
	width: 100%;
	max-width: 60ch;
}

.post-info {
	display: flex;
	flex-direction: column;
	padding-left: 1rem;
}

.post-info .username {
}

.post-info .location {
}

.post-title-bar > :last-child {
	margin-left: auto;
}

.post-title-bar .profile-picture {
	border-radius: 1000px;
	height: 3rem;
}

.post-description {
	-webkit-box-orient: vertical;
	color: white;
	display: -webkit-box;
	font-family: 'Jost', sans-serif;
	font-size: 1rem;
	line-clamp: 3; 
	-webkit-line-clamp: 3;
	line-height: 1.25;
	overflow: hidden;
	padding-top: var(--padding);
	text-overflow: ellipsis;
	width: 100%;
	max-width: 60ch;
}

.post-description > :first-child {
	margin-top: 0;
}

.post-description > :last-child {
	margin-bottom: 0;
}

.post-buttons {
	padding-top: var(--padding);
	width: 100%;
	max-width: 60ch;
}

::-webkit-scrollbar { 
	display: none;
}
