@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,200;0,500;0,800;1,200;1,500;1,800&display=swap');

:root {
	--padding: 1em;
}

* {
	color: white;
	font-family: 'Jost', sans-serif;
}

a {
	color: #1DA1F2;
}

body {
	margin: 0;
	padding: 0;
}

footer {
  
}

header {
	
}

main {
	height: 100vh;
	overflow-y: scroll;
	scroll-snap-type: y mandatory;
}

section {
	background-position: center center;
	background-size: cover;
	height: 100vh;
	scroll-snap-align: start;
	width: 100vw;
}

section figure img {
	/*box-shadow: 0 19px 38px rgba(0,0,0,0.15), 0 15px 12px rgba(0,0,0,0.11);*/
	height: 100%;
	object-fit: contain;
	width: 100%;
}

.post-container {
	align-items: center;
	backdrop-filter: brightness(0.5) blur(32px);
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100vh;
	overflow: hidden;
	padding: 5vw;
	width: 100vw;
}

.post-container img {
	max-height: 70vh;
	max-width: 90vw;
}

.post-title-bar {
	align-items: end;
	box-sizing: border-box;
	display: flex;
	height: 15vh;
	justify-content: space-between;
	padding-bottom: var(--padding);
	max-width: 60ch;
}

.post-title-bar .profile-picture {
	border-radius: 1000px;
	height: 3rem;
}

.post-description {
	color: white;
	font-family: 'Jost', sans-serif;
	height: 10vh;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	line-clamp: 3; 
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	max-width: 60ch;
}

.post-buttons {
	height: 5vh;
}

::-webkit-scrollbar { 
    display: none; 
}
